{% extends 'layout/base.html' %}
{% block content %}

<div class="jumbotron justify-content-center">
    <h1 class="display-3">Pass The Popcorn</h1>
    <p class="lead">Your personal movie diary!</p>
    <span>
      <p>Head to Manage Collection to add films to your collection!</p>
    </span>
    <ul>
      <li><a href="/newsignup"></a>Register </a> or <a href="/formpage">Log In Here </a> to get started</li>
      <li>Click on Add To My Collection</li>
      <li>Search for a film in the Search Bar</li>
      <li>Click on your chosen film and click the 'Add To My Collection' button</li>
    </ul>
</div>


{% endblock %}
