{% extends 'layout/base.html' %}
{% block content %}

<div class="jumbotron justify-content-center">
    <h1 class="display-3">Pass The Popcorn</h1>
    <p class="lead">A movie review site made for you</p>
    <span>
    <p>Add your own reviews or check out what other users say about your favourite movies!</p></span>
    <p class="lead">
      <a class="btn btn-primary btn-lg" onclick="openModal()" href="#" role="button">Get Started</a>
    </p>
  </div>

  {% include 'modalsignup.html' %}


{% endblock %}
