{% extends 'layout/base.html' %}
{% block content %}
<div class="row title-row justify-content-center mb-4">
    <h1>Manage Your Reviews</h1>
    </div>
    <div class="container row">
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-success" onclick="openAddModal()">Add A Review</button>
                {% include 'components/addfilm.html' %}
            </div>
        </div>
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-warning"  onclick="openEditModal()">Edit A Review</button>
                {% include 'components/editfilm.html' %}
            </div>
        </div>
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-danger"  onclick="openDeleteModal()">Delete A Review</button>
                {% include 'components/deletefilm.html' %}
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}