{% extends 'layout/base.html' %}
{% block content %}
<div class="row title-row justify-content-center mb-4">
    <h1>Manage Your Reviews</h1>
    </div>
    <div class="container button-container row">
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-success" id="addfilm" onclick="openCoreModal()">Add A Review</button>
            </div>
        </div>
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-info" onclick="openCoreModal()">Edit A Review</button>
            </div>
        </div>
        <div>
            <div class= "col-md-3">
                <button class="btn-lg film-button btn-primary" onclick="openCoreModal()">Delete Review</button>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}