{% extends 'layout/base.html' %}
{% block content %}

<!-- Search bar the open modal with movie posters -->
<section class="search-style">
    <span>
        <h2>My Movie Collection</h2>
        <input class="bar-style" id="search-text-new" placeholder="Please enter a movie title"></input>
        <button id="search-movie-new">Search</button>
        {% include 'components/addfilm.html' %}
    </span>
</section>


<section class="container">
    <div class="row">
        <!-- Card made to print the film information recieved from DB -->
        {% include 'components/card.html' %}
    </div>
</section>
{% endblock %}