{% extends 'layout/base.html' %}
{% block content %}

<!-- Buttons for adding and deleting -->
<div class="container">
<div class="container-fluid button-container row">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button id="openAddModal" class="btn film-button btn-success">Add To Collection</button>
        {% include 'components/addfilm.html' %}
      </div>
</div>
</div>


<!-- Card made to print the film information recieved from DB -->
<div class="container">
    <div class="row">
        
{% include 'components/card.html' %}
  
</div>
    </div>
        
{% endblock %}