.main {
    background-image: static/images/cinema.jpeg;
}

.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 19%;
    border-top: 3px solid #000000	;
    border-bottom: 3px solid #000000	; 
}

.footer-text {
    color : #FFFFFF	;
}

.navbar {
    margin-bottom: 50px;
    border-top: 3px solid #000000	;
    border-bottom: 3px solid #000000	;
}

.jumbotron {
    min-height: 300px;
    opacity: 0.9;
    
}