.page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    color: white;
    
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    min-height: 300px;
    opacity: 0.2;
}