

<div id="addfilm" class="modal" tabindex="-1" role="dialog">
    {% include 'components/closebutton.html' %}  
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header"></div>

    <!-- ID's passed in from JS to enable search function-->

    <input id="search-text-new"></input>
    <button id="search-movie-new">Search</button>
    <div id="movies" class="row"></div>

    <!-- Form for printing the results of the search function and button to post to DB -->

    <div>
        <form id="movie_post" action="{{ url_for('add_review')}}" method="POST">
            <input id="movie_poster" name="movie_poster" type="hidden" value="">
            <input id="movie_title" name="movie_title" type="hidden" value="">
            <input id="movie_director" name="movie_director" type="hidden" value="">
            <input id="movie_year" name="movie_year" type="hidden" value="">
            <input id="movie_actor" name="movie_actor" type="hidden" value="">
            <input id="movie_genre" name="movie_genre" type="hidden" value="">
            <div>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">My Thoughts : </span>
                    </div>
                    <textarea  id="movie_score" name="movie_score" value="" class="form-control" aria-label="With textarea"></textarea>
                  </div>
            <button type="submit" class="btn-success"">Add To My Collection</button>
            </div>
        </form>
        
    </div>     
</div>