<button id="addfilm">Add A Review</button>

<div id="addmodal" class="modal">
<div class="addfilmform">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Add Your Review!</h3>
  </div>
  <form>
    <input name="title" placeholder="Enter Film Title" class="title" required />
    <input name="director" placeholder="Enter film director" class="director" required />
    <input name="year" placeholder="Year Of Release" class="yes" required />
    <input name="starring" placeholder="Who Stars In This Film?" class="starring" required />
    <select id="rating" name="rating">
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
      </select>
      <textarea rows="4" cols="50" name="subject" placeholder="What are your thoughts on this film?" class="message" required></textarea>
      <input name="submit" class="btn" type="submit" value="Send"/>
  </form>

</div>