<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{film.Title}} - {{film.Year}}</h5>
      <p class="card-text">{{film.Thoughts}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{film.Director}}</li>
      <li class="list-group-item">{{film.Starring}}</li>
      <li class="list-group-item">{{film.Rating}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>