<div class="modal filmform" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        </button>
      </div>
      <div class="content">
        {% include 'components/modalsignup.html'%}
      </div>
      <div class="content">
        {% include 'components/addfilm.html'%}
      </div>
      <div class="content">
        {% include 'components/editfilm.html'%}
      </div>
      <div class="content">
        {% include 'components/deletefilm.html'%}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>