<div class="modal formstyle" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        </button>
      </div>
      <div id="contentone">
        {% include 'components/modalsignup.html'%}
      </div>
      <div id="contenttwo">
        {% include 'components/addfilm.html'%}
      </div>
      <div id="contentthree">
        {% include 'components/editfilm.html'%}
      </div>
      <div id="contentfour">
        {% include 'components/deletefilm.html'%}
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>