<div id="film-{{review._id}}" class="modal editmodal">
  <button type="button" class="close" aria-label="Close" onclick="closeEditModal('film-{{review._id}}')">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="edit-header">Edit your review below</h4>
  <form id="movie_post" action="{{ url_for('updatemovie', movie_id=review._id)}}" method="POST">
      <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <textarea id="movie_score" name="movie_score" value="" class="form-control" aria-label="With textarea">{{review.movie_score}}</textarea>
        <button type="submit" class="btn-success">Update</button>
      </div>
  </form>
</div>     

