<div id="editmodal" class="modal">
{% include 'components/closebutton.html' %}
  <form id="movie_post" action="{{ url_for('update_movie', movie_id=review._id)}}" method="POST">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">My Thoughts : </span>
        </div>
        <textarea id="movie_score" name="movie_score" value="" class="form-control" aria-label="With textarea"></textarea>
        <button type="submit" class="btn-success">Update</button>
      </div>
  </form>
</div>     

