<div class="modal" >
    <form id="movie_post" action="{{ url_for('edit_review')}}" method="POST">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">My Thoughts : </span>
                </div>
                <textarea  id="movie_score" name="movie_score" value="" class="form-control" aria-label="With textarea"></textarea>
              </div>
        <button type="submit" class="btn-success"">Submit Edit</button>
        </div>
    </form>
    
</div>     
</div>