<footer class="page-footer font-small bg-primary container-fluid">

    <!-- Footer Links -->
    <div class="text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Pass The Popcorn</h5>
          <p>Share your thoughts on your favourite (or least favourite) movies!</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Archive</a>
            </li>
            <li>
              <a href="#!">Add Film</a>
            </li>
            <li>
              <a href="#!">My Reviews</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->